* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#contenido {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    color: #00695c;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #424242;
}

a {
    display: inline-block;
    color: #00695c;
    text-decoration: none;
    margin-top: 15px;
    transition: color 0.3s ease;
}

a:hover {
    color: #004d40;
    text-decoration: underline;
}
