body {
    font-family: 'Verdana', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #00695c;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #424242;
    margin-right: 10px;
}

input[type="number"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 10px);
}

/* Botón */
input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00695c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #004d40;
}

a {
    display: block;
    color: #00695c;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #004d40;
    text-decoration: underline;
}

/* Estilo para las imágenes de las monedas y billetes */
.img-monedas {
    max-width: 120px; /* Máximo ancho de la imagen */
    height: auto; /* Mantener proporción */
}

/* Contenedor para cada imagen y su número */
.img-item {
    display: flex;
    flex-direction: column; /* Organizar verticalmente el número y la imagen */
    align-items: center; /* Centrar los elementos */
    margin: 10px;
}

/* Estilo del número encima de la imagen */
.img-numero {
    font-size: 16px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 5px; /* Espacio entre el número y la imagen */
}

/* Contenedor para todas las imágenes */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permitir que las imágenes se acomoden en varias filas */
    margin-top: 20px;
}
