body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0000ff; /* Color azul para el título */
    margin-bottom: 20px;
}

form {
    background-color: #f0f0f0; /* Fondo gris claro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px; /* Ancho del formulario */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0000ff; /* Color azul para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0000cc; /* Color azul oscuro al pasar el ratón */
}

p {
    font-size: 16px;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Ajustes para la tabla */
table {
    width: 300px; /* Ancho fijo para la tabla */
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Centrar texto en las celdas */
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    text-align: left;
}
