* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.content-box {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px; /* Espacio entre las dos cajas */
}

.left-box, .right-box {
    background-color: #ffffff;
    border: 2px solid #000; /* Borde negro */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ajuste de ancho para que ambas cajas ocupen el espacio deseado */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

a:hover {
    background-color: #0056b3;
}

li:nth-child(odd) a {
    background-color: #28a745;
}

li:nth-child(odd) a:hover {
    background-color: #218838;
}

li:nth-child(even) a {
    background-color: #ffc107;
}

li:nth-child(even) a:hover {
    background-color: #e0a800;
}
